.moviecard {
  margin-left: 5px;
  position: relative;
}

.moviecard > img {
  height: 300px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 450ms;
}

.moviecard > img:hover {
  height: 300px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 450ms;
transform: scale(0.9);
}

.moviecard__hoverInfo {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px;
  transform: translateX(100%);
  cursor: pointer;
}

.moviecard:hover .moviecard__hoverInfo {
  transform: translateX(0%);
  background-color: rgb(255, 255, 255);
  color: black;
}
